@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');


body {
    font-family: 'Raleway', sans-serif;
    background: #333 url('https://img.freepik.com/free-photo/abstract-blur-defocused-restaurant-coffee-shop-cafe-interior_1203-9267.jpg?size=626&ext=jpg') no-repeat center center / cover;
    color: #ccc;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    margin: 0;

}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #333 url('https://img.freepik.com/free-photo/abstract-blur-defocused-restaurant-coffee-shop-cafe-interior_1203-9267.jpg?size=626&ext=jpg') no-repeat center center / cover;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 64px;
    width: 64px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: brown;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    min-width: 400px;
    padding: 0 3rem;
}

.media {
    margin-left: 30px;
}
.media-body{
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 5px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: rgba(0, 0, 0, 0.5);*/

}

a {
    text-decoration:none;
}
h1, h2 {
    font-weight: 200;
    margin: 0.3rem;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 1.3rem;
    color:brown;
}


.animated-word {
    margin-top: 10px;
    text-align: center;
    color: brown;
    /*outline: 10px solid;*/
    /*outline-color: rgba(71, 126, 232,0.5);*/

    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
    color: rgba(0, 0, 0, 0.7);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}


a:hover {
    text-decoration:none;
    background-position: right center;
}


.card_2 {
    transform-style: preserve-3d;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.5);*/

}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

.card-body {
    min-height: 100vh;
    width: 45rem;
    padding: 0;
    margin: 0 auto;
}
@media(max-width: 1400px) {
    h1 {
        font-size: 2.5rem;
    }
    .media {
        margin-left: 30px;
    }
    .media-body{

        margin-right: 20px;
    }
    .img {
        display: none;
    }
    .container{
        width: 60%;
    }
    h2 {
        font-size: 1.2rem;
    }
}
@media(max-width: 500px) {
    body {

        background-color: #111111;
        min-height: 100vh;
    }
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 0.9rem;
    }
    .media {
        margin-left: 30px;
    }
    .media-body {
        margin-right: 30px;
        border-radius: 10px;
    }

    .container {
        width: 100%;
    }
    .card_2 {
        width: 100%;
        min-height: 20vh;

    }
    .card-body {
        min-height: 10vh;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .cats {
        min-height: 20vh;
    }
}

.card{
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
img {
    width: 100%;
}
.showcase {
    width: 100%;
    padding-bottom: 8px;
}
#cats {
    display: none;
    width: 100%;
}

.card-body {
    min-height: 67vh;
    width: 45rem;
    padding: 0;
    margin: 0 auto;
}
.img {
    width: 100px;
}

h2 {
    text-align: left;
}
h6 {
    margin-top: 8px;
    text-align: center;
}

/* переверните сторону при проведении мышью */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 64px;
    height: 64px;
}

/* здесь находится скорость перевертывания */
.flipper {
    transition: 0.3s;
    transform-style: preserve-3d;

    position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
    z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
    transform: rotateY(180deg);
}
* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    transition: all 2.5s ease;
}

:root{
    --height: 3em;
    --bgr: rgb(64, 64, 64);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    color: #000;
    background: brown;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.5);*/
    transition: box-shadow ease 0.2s;
    z-index: 9;
}

.btn:after,
.btn:before{
    content: '';
    position: absolute;
    transition: all ease-in-out 0.35s;
    top: 0px; left: 0px;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: brown;
    opacity: 0;
    z-index: -5;
}

.btn:hover{
    transition: box-shadow linear 0.2s;
    box-shadow: none;
}
.btn:after{
    transform: rotate(60deg) translateX(calc(-2 * var(--height)));
}

.btn:before{
    transform: rotate(-60deg) translateX(calc(2 * var(--height)));
    transition-delay: 0.1s;
}

.btn:hover:after,
.btn:hover:before{
    content: '';
    position: absolute;
    top: 0px; left: 0px;
    transition: all ease-in-out .2s;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: brown;
    opacity: 1;
    z-index: -5;
}

.btn:hover:after{
    transform: rotate(60deg) translateX(0);

}

.btn:hover:before{
    transform:  rotateZ(-60deg) translateX(0px);
    transition-delay: 0.1s;
}

.btn:active:before,
.btn:active:after{
    transform: rotateZ(0deg);
}

.btn:active:before{
    transition-delay: .1s;
}

.footer{
    position: fixed;
    bottom: 0px; right: 0px;
    margin: 3px;
    font-size: 11px;
}

a{
    text-decoration: none;
}